<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <%- include('partials/htmlCss')%>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <%- include('partials/htmlHeader',{login})%>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
    <form action="" id="formData">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                   
                   <div class="filter-widget">
                        
                        <h4 class="fw-title">Categories</h4>
                        <ul class="filter-catagories">
                            <li> <input type="radio" id ="men"  name="categories" value="men"> <label for="men">Men</label> </li>
                            <li> <input type="radio" id ="women" name="categories" value="women"> <label for="women">Women</label> </li>
                            <li> <input type="radio" id ="Kinder" name="categories" value="Kinder"> <label for="Kinder">Kinder</label> </li>
                        </ul>
                    </div>
                    
                    <div class="filter-widget">
                        <h4 class="fw-title">Price</h4>
                        <div class="filter-range-wrap">
                            <div class="range-slider">
                                <div class="price-input">
                                    <!-- from her we get the price range  -->
                                    <input type="text" id="minamount" name="minPrice">
                                    <input type="text" id="maxamount" name="maxPrice">
                                </div>
                            </div>
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="1" data-max="100">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                        </div>
                        <a href="#" class="filter-btn">Filter</a>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title">Color</h4>
                        <div class="fw-color-choose">
                            <div class="cs-item">
                                <input type="radio" id="cs-black" name="color" value="black">
                                <label class="cs-black" for="cs-black">Black</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-violet" name="color" value="violet">
                                <label class="cs-violet" for="cs-violet" >Violet</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-blue" name="color" value="blue">
                                <label class="cs-blue" for="cs-blue" >Blue</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-yellow" name="color" value="yellow">
                                <label class="cs-yellow" for="cs-yellow">Yellow</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-red" name="color" value="red">
                                <label class="cs-red" for="cs-red">Red</label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" id="cs-green" name="color" value="green">
                                <label class="cs-green" for="cs-green">Green</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title">Size</h4>
                        <div class="fw-size-choose">
                            <div class="sc-item">
                                <input type="radio" id="s-size" name="size" value="s">
                                <label for="s-size">s</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" id="m-size" name="size" value="m" >
                                <label for="m-size">m</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" id="l-size" name="size" value="l">
                                <label for="l-size">l</label>
                            </div>
                            <div class="sc-item">
                                <input type="radio" id="xs-size"name="xs"  value="xs">
                                <label for="xs-size">xs</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <h4 class="fw-title">Tags</h4>
                        <div class="fw-tags">
                            <label for="tags"></label>
                            <select name="name" id="tags">
                            <option value="towel">Towel</option>
                            <option value="Shoes">Shoes</option>
                            <option value="Coat">Coat</option>
                            <option value="Dresses">Dresses</option>
                            <option value="Trousers">Trousers</option>
                            <option value="Men's hats">Men's hats</option>
                            <option value="Backpack">Backpack</option>
                        </select>
                            
                        </div>
                    </div>
                    <div class="filter-widget">
                        <input type="submit" value="Submit" id="submitBtn">
                    </div>
                </div>
                
    </form> 
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Default Sorting</option>
                                    </select>
                                    <select class="p-show">
                                        <option value="">Show:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Show 01- 09 Of 36 Product</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            <% for(let i = 0; i < products.length; i++) {%> 
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="<%= products[i].imgs[0] %> " alt="img">
                                        <!-- <div class="sale pp-sale">Sale</div> -->
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="/showproduct/<%= products[i].id %> ">+ quick-view</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name"><%= products[i].name.trim() %> </div>
                                        <a href="#">
                                            <h5><%= products[i].color %> </h5>
                                        </a>
                                        <div class="product-price">
                                            €14,00 
                                            <span>€<%= products[i].price %> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <%- include('partials/htmlFooter')%>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <%- include('partials/htmlJs')%> 
    <script>
        
        $("#submitBtn").click(e=>{
            e.preventDefault();
            let formData = $("#formData").serialize()
            console.log($("#formData").serialize())
            // const fd= new FormData();
            $.ajax({
                url: "/searchResult",
                method: "POST",
                data: formData,
                success: response=>{
                    console.log(response)
                   
                    if(response !== '2') {
                        const productsContainer = document.querySelector('.product-list > .row')
                        productsContainer.innerText = ''
                        const products = response
                        for (let i = 0; i < products.length; i++) {
                            
                        
                        let productHtml = `<div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="${ products[i].imgs[0] } " alt="img">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">+ quick-view</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">${ products[i].name.trim() } </div>
                                        <a href="#">
                                            <h5>${ products[i].color } </h5>
                                        </a>
                                        <div class="product-price">
                                            €14,00 
                                            <span>€${ products[i].price } </span>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                            productsContainer.innerHTML += productHtml
                        }
                        
                    } else {
                        productsContainer.innerText = 'no Results'
                    }
                },
                error: error=>{
                    console.log(error)
                },
                // timeout: 5000
            });

        })
    </script>
</body>

</html>